extends ../layout/layout.pug
block content
  <div id="create-task" class="py-2 text-right">
    <a href="#add-task" data-toggle="collapse" class="btn btn-warning">
      |add task
    </a>
  </div>

  <div id="add-task" class="collapse p-2">
    <form method="post" action="/" class="p-3">
      <div class="form-group form-row my-3" id="title">
        <label for="tTitle">Title</label>
        <input type="text" id="tTitle" class="form-control" name="tTitle" required>
      </div>
      <div class="form-group form-row my-3" id="description">
        <label for="tDescription">Short Description</label>
        <textarea id="tDescription" class="form-control" name="tDescription" rows="3" cols="5">
        </textarea>
      </div>
      <div class="form-group my-3">
        <button class="btn btn-primary" type="submit">add it</button>
      </div>
    </form>
  </div>


  if data.length > 0

    each item in data
      - if (item.status == "completed")
        div.card.my-3.round.mine-bg.mine-text
          div.card-body 
            h4.card-title #{item.tTitle}
            p.card-text #{item.tDescription}
          div.card-footer
            div.row.justify-content-around
              p.text-muted status: #{item.status}
              <a href='/delete/#{item.id}' class="btn btn-warning rounded">delete</a>

      - else
        div.card.my-3.round.mine-bg.mine-text
          div.card-body
            h4.card-title #{item.tTitle}
            p.card-text #{item.tDescription}
          div.card-footer
            div.row.justify-content-around
              p.text-muted status: #{item.status}
              <a href='/completed/#{item.id}' class="btn btn-warning rounded">completed</a>

  else 
    <div class="my-3">
      h3.text-muted You have 0 tasks.
    </div>